/* RESET CSS  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --cardCount: 10;
}

/* GLOBALS  STYLE */
/* .App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  flex-wrap: wrap;
} */

.App {
  background-image: url(https://media.istockphoto.com/id/672546436/photo/green-felt-surface-with-light-copy-space-in-center.jpg?s=612x612&w=0&k=20&c=tmoRNwW8ScbTYOZp3_eZT1chRXBO3axrSZdk8skYJLM=);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: cover;
  /* overflow: hidden; */
}

.App-link {
  color: #61dafb;
}
/* CARD STYLE */
.card-wrapper {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--cardCount), 1fr);
  gap: 5px;
}

.card-container {
  
  background-color: #fff;
  width: 100%;
  height: 10rem;
  border-radius: 7px;
  /* margin: 10px; */
}

.flipped{
  background-image: url(https://i.ibb.co/zSy5hfM/cardBack.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.flipped * {
  visibility: hidden;
  opacity: 0;
}

.card-content__inner,
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  width: 80%;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  width: 10%;
}
.card-content__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  padding: 5px;
  box-sizing: border-box;
}
.card-content-inner__border-top,
.card-content-inner__border-bottom {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-content-inner__border-bottom {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.card-content-inner__center {
  width: 100%;
  /* height: 14rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -1rem; */
}
.card-content-inner__center svg {
  width: 100% !important;
  height: 100% !important;
}
.top-symbol-sigle,
.bottom-symbol-sigle {
  text-align: center;
  width: 100%;
}

.top-symbol,
.bottom-symbol {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.9rem;
  line-height: 100%;
}
.top-symbol,
.bottom-symbol p {
  font-size: 0.8rem;
  line-height: 100%;

}

.top-symbol {
  align-items: flex-start;
  flex-direction: column;
}
.bottom-symbol {
  align-items: flex-end;
  flex-direction: column-reverse;
  transform: rotate(180deg);
}
.center-symbol-sigle {
  font-size: 1.3rem;
}

/* DYNAMIC COLOR CLASS SECTION */
.red {
  color: red;
}
.black {
  color: black;
}

/* DYNAMIC CENTER CARD SECTION */
.grid-3,
.grid-2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10 {
  position: relative;
  display: grid;
  height: 90%;
  grid-template-columns: repeat(2, 1fr);
  padding: 1px;
  align-items: normal;
  text-align: center;
}
.grid-4 .centerCard:nth-child(3){
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.grid-4 .centerCard:nth-child(4){
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.grid-5 .centerCard:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-5 {
  grid-gap: 54px;
}
.grid-6 {
  grid-gap: 11px;
  /* transform: translate(0, -1rem); */
}
.grid-7 {
  grid-gap: 9px;
  /* transform: translate(0, -1rem); */
}
.grid-7 .centerCard:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.grid-10 {
  transform: scale(0.9);
  grid-row-gap: 0px;
  grid-column-gap: 34px;
}

.grid-10 .centerCard:last-child {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.grid-10 .centerCard:nth-child(9) {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
} 
.grid-9 .centerCard:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.figure-picture {
  /* transform: scale(0.94) translate(0, 10px); */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTON SECTION */
button {
  background: none;
  border: none;
  border-radius: 5px;
  outline: none;
  margin: 0.1rem;
  padding: 0.4rem 0.8rem;
  font: inherit;
  font-size: 1rem;
  line-height: 1;
  color: #444;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.5s ease;
  background-color: #fff;
}
button:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}